.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.spinner-small {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 50%;
  text-align: center;
  z-index: 1000;
  font-size: 15px
}

.spinner-small .spinner-content{
  background: #007BBF;
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff
}

.spinner-small .spinner-border-sm {
  width: 40px;
  height: 40px;
}