.infosRoute{
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1000;
    top: 71px;
}

.infosRoute .content{
    background: #007BBF;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.titleMaps{
    font-size: 15px;
}

.leaflet-popup-content p {
  margin: none;
  font-size: 18px !important;
}